
body
{
background-image:url("incr8.jpeg");
background-repeat:no-repeat;
background-size:cover;
}
a
{
color:white;
font-size:30px;
font-style:italic;
text-decoration:none;
}
a:link
{
color:red;
}
a:visited
{
color:blue;
}
a:hover
{
color:green;
}
#active
{
color:yellow;
}


ul
{
list-style-type:none;
}
li
{
display:inline-block;
}
.div1
{
height:50px;
width:100%;
color:white;
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(255,0,0,1));
}
#top
{
font-size:40px;
color:blue;
font-style:italic;
text-align:center;
}

